label {
  padding: 2rem;
}
input {
  font-size: 1rem;
  font-weight: bold;
  font-family: cursive;
  border-radius: 5px;
}

#addBtn {
  padding: 0.4rem 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
}
